<%- include('../partials/head') %>

<h1><%= title %></h1>

<p><%- message %></p>

<p>Oops! It seems we've hit a little bump in the road. Don't worry, our virtual mechanics are working on it!</p>

<%- include('../partials/footer') %>
